# === Сборочные артефакты .NET / Visual Studio ===
[Bb]in/
[Oo]bj/
[Oo]utput/
*.pdb
*.cache

# === Пользовательские/IDE-специфичные файлы ===
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# === Inno Setup ===
# Output/

# === Логи/временное ===
*.log
*.tmp
